name: build-and-test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # CLIENT
      - name: Install client dependencies
        run: npm install
        working-directory: client

      - name: Show client node_modules
        run: ls -la
        working-directory: client/node_modules/.bin

      - name: Build client
        run: npm run build
        working-directory: client

      # SERVER
      - name: Install server dependencies
        run: npm install
        working-directory: server

      - name: Build server
        run: npm run build --if-present
        working-directory: server
