name: build-and-test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: none

      # SERVER INSTALL & BUILD
      - name: Install server dependencies
        working-directory: ./server
        run: npm install

      - name: Build server
        working-directory: ./server
        run: npm run build --if-present

      # CLIENT INSTALL & BUILD
      - name: Install client dependencies
        working-directory: ./client
        run: npm install

      - name: Build client
        working-directory: ./client
        run: npm run build

      - name: Done
        run: echo "CI Completed Successfully"
